body{
    background-color: black;
}
#question{
    color: white;
    text-align: center;
    font-size: 200%;
}

.btn{
    text-align: center;
}
#res{
    width: 20%;
    height: 30px;
    margin-left: 40%;
    margin-right: 40%;
}