body{
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
}

#question{
    color: white;
    font-size: 200%;
}

.pm{
    margin-left: 42%;
    background-color: #c0c2c3;
    width: 70px;
    height: 30px;
    border: 1px;
    font-size: 17px;

}

.pm:hover{
    background-color: gray;
}
#res{
    width: 65%;
    height: 25px;
    margin-left: 17%;
}
input[type=text]{
    border-style: solid;
    border-radius: 1px;
}
#overlay{
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:black;
    z-index: 2;
    cursor: pointer;
}
#flame{
    margin-left: 45%;
    margin-top: 9%;
}
